button {
    margin: 1.5vh 0;
}

button:after {
    content: "\A"; 
    white-space: pre-wrap;
}

#button-one {
    background-color: white;
    color: #23272A;
    border-radius: 28px;
    padding: 1.5vh 2vw; 
}

#button-two {
    background-color: #23272A;
    color: white; 
    border-radius: 28px;
    padding: 1.5vh 2vw; 
}
